[Unit]
Description=Deno discord bot.
After=network-online.target

[Service]
User=deno-bot-runner
Group=deno-bot-runner
WorkingDirectory=/home/deno-bot-runner/bot
ExecStart=/home/deno-bot-runner/.deno/bin/deno run --allow-net --allow-read --allow-env --allow-import main.ts
Restart=always

[Install]
WantedBy=multi-user.target
